fastapi~=0.108.0
Jinja2~=3.1.2
uvicorn[standard]~=0.20.0
pydantic~=1.10.4
omegaconf~=2.3.0
pymongo~=4.3.3
requests==2.31.0

dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
