<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/styles.css?version={{css_version}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
	<script src="https://cdn.statically.io/gh/zenorocha/clipboard.js/v2.0.10/dist/clipboard.min.js"></script>
	<script src="https://unpkg.com/twemoji@latest/dist/twemoji.min.js" crossorigin="anonymous"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DHL70JGT4P"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-DHL70JGT4P');
	</script>

	<title>{{content["header"][lang]}} | {{content["history_header"][lang]}}</title>
</head>
<body id="game" dir={{"rtl" if lang == "he" else "ltr"}}>
	<div style="padding: 50px;" align="center" class="article-container">
		<div>
			<a href="https://www.ishefi.com"><img src="https://www.ishefi.com/images/favicon.ico"></a>
			<h1 id="header">{{content["history_header"][lang]}}</h1>
			<a href="/">
				<span class="material-symbols-outlined">cottage</span>
			</a>
		</div>
		<br>
	<div class="row" style="text-align: center;" align="center">
  		<div id="image-container"></div>
  		<div id="pagination">
			<a href="javascript:MiMaMu.getHistory();">{{content["more_history"][lang]}}</a>
		</div>
	</div>
		<!-- Modal -->
	<div id="image-modal" class="modal">
  		<div class="modal-content">
    		<img id="modal-image" src="" alt="Image">
    		<div id="modal-words"></div>
  		</div>
	</div>

	<div align="center" style="padding: 50px;"> ❤️ {{content["header"][lang]}}?
    <a href="https://ko-fi.com/ishefi" target="_blank">{{content["buy_me"][lang]}} ☕!</a>
    <br>
    <a href="javascript:shareBtc();">{{content["donate_btc"][lang]}} ₿</a>
    <br><br>
    ({{content["degle"][lang]}}<a href="https://degle.ishefi.com" target="_blank">degle🚩</a>)
    <br><br>
    Made by <a target="_blank" href="https://twitter.com/shefi89">Itamar Shefi</a> 2023
    <br>
    <p style="font-size: medium;">
    CSS from <a target="_blank" href="https://caviardeul.fr/">Caviardeul</a>
	</p>
</div>

</body>
<footer>
	<script type="text/javascript" src="static/mimamu.js?version={{js_version}}"></script>
	<script>MiMaMu.getHistory();</script>
</footer>
</html>
